jupyter==1.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
notebook==6.4.3
rise==5.7.1
matplotlib
matplotlib-inline
numpy
pandas
Pillow
scikit-learn
scipy
torch
torchvision
torchviz