---
---

@import "{{ site.theme }}";

a {
  color: #951515;
}

a:hover, a:focus{
  color: #BE171A;
}

header {
    width: 315px;
    -webkit-font-smoothing:subpixel-antialiased
}

header ul {
    list-style: none;
    height: 40px;
    padding: 0;
    background: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    width: 315px
}

header li {
  width: 110px;
  float: left;
  border-right: 1px solid #e0e0e0;
  height: 40px;
}


p {
  text-align: justify;
  text-justify: inter-word;
}
